<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class='container'>
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">MI API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            

            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/home" ><i class="fas fa-plus-circle"></i> Home</a>
            </li>
            <li class="nav-item" 
                routerLinkActive="active"
                *ngIf="auth.loggedIn">
              <a class="nav-link" routerLink="/protegida" ><i class="fas fa-plus-circle"></i> Protegida</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/games" ><i class="fas fa-gamepad"></i> Games</a>
            </li>
            <li class="nav-item"
                *ngIf="auth.loggedIn"
                routerLinkActive="active">
              <a class="nav-link" routerLink="/games/add" ><i class="fas fa-plus-circle"></i> Games add</a>
            </li>
          </ul>
          <span class="navbar-text">
              <button 
                      *ngIf="!auth.loggedIn"
                      (click) = "auth.login()"
                      class="btn btn-outline-primary">
                      Ingresar
              </button>
              <button 
                      *ngIf="auth.loggedIn"
                      (click) = "auth.logout()"
                      class="btn btn-outline-danger">
                      Salir
              </button>
          </span>
        </div>
      </div>
    </div>
  </nav>